<div class="homeBlock overlay">
  <form method="POST">
    <div class="form-group row homeSearch">
      <div class="col-10">
        <input class="form-control" type="search" placeholder="Search any movie" id="home_movie_search">
      </div>
    </div>
    <div class="homeSearchButton">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>
</div>
