<div class="homeBlock overlay">
  <div class="form-group row homeSearch">
    <label for="home_movie_search" class="col-2 col-form-label">Search</label>
    <div class="col-10">
      <input class="form-control" type="search" placeholder="Search any movie" id="home_movie_search">
    </div>
  </div>
</div>
