/* Debug message format */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.homeBlock{
  width: 100%;
  height: 500px;
  background-color: black;
  background-image: linear-gradient(
      rgba(25, 20, 20, 0.80),
      rgba(25, 20, 20, 0.80)
    ),url('https://i.imgur.com/9AeeDQ8.jpg');
}

.homeSearch{
  padding-top: 75px;
}

.pageContainer{
  margin: 0 25px 25px 25px;
}

.registerButton, .loginButton{
  margin-top: 15px;
}

/* Form errors */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
