/* OVERALL */
.pageContainer{
  margin: 0 25px 25px 25px;
}

html, body{
  background: #f2f2f2;
}

/* HOME PAGE */
.homeBlock{
  width: 100%;
  height: 500px;
  background-color: black;
  background-image: linear-gradient(
      rgba(25, 20, 20, 0.80),
      rgba(25, 20, 20, 0.80)
    ),url('https://i.imgur.com/9AeeDQ8.jpg');

    padding-top: 50px;
}

.homeSearch{
  padding-top: 75px;
  color: #fff;
}

.homeSearch .searchBar{
  width: 50%;
  margin: 0 auto;
}

.homeSearch .searchButton{
  margin-top: 20px;
}

.registerButton, .loginButton{
  margin-top: 15px;
}

/* Movie index */
.movieResult{
  width: 60%;
  padding: 10px 20px 15px 20px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #fff;
}

.movieResult .resultLink{
  font-size: 25px;
  color: black;
}

.movieResult .resultLink:hover{
  color: #999999;
  text-decoration: none;
}

.movieResult .resultPoster{
  float: left;
  margin-right: 15px;
}

.resultMoviePlot{
  width: 90%;
}

.resultRating{
  float: right;
}

.resultRating .ratingText{
  font-size: 30px;
}

/* Form errors */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.posterImage{
  width: 200px;
  height: 300px;
}
